body{
  font-family: Roboto;
}

#notes{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  text-align: center;
}

.card{
  outline:1px solid #8D8273;
  background-color: #000000;
  margin-bottom: 20px;
}

.card-title{
  font-weight: 400;
  font-size: 2rem;
  color:#d2fafb;
}

#button{
	background-color: #000000;
    text-decoration-color:#d2fafb; 
    text-decoration: none;
}

#button:hover{
	background-color: #ffd868;
	text-decoration-color:#d2fafb; 
}

@media  screen and (max-width:990px){
	.card{
		margin-bottom: 20px;
	}
}
